 <div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://images.pexels.com/photos/9708/food-pizza-restaurant-eating.jpg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');">
      <div class="banner-content">
        <h1>Cheese</h1>
        <p>Get inspired. Pre-order your meal.</p>
        <form class="form-inline">
           <div class="form-group mb-2 text-dark">
            <%= form_tag root_path, method: "get" do %>
              <%= text_field_tag(:query) %>
              <%= select_tag(:category, options_for_select(Dish::CATEGORY)) %>
              <%= submit_tag("Search") %>
            <% end %>
          </div>
        </form>

      </div>
    </div>
