 <div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://images.pexels.com/photos/9708/food-pizza-restaurant-eating.jpg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');">
      <div class="banner-content">
        <h1>Cheese</h1>
        <p>Get inspired. Pre-order your meal.</p>
        <form class="form-inline">
            <%= form_tag root_path, method: "get" do %>
            <div class="form-row">
              <div class="form-group">
                <%= text_field_tag "query", "", class: 'form-control' %>
              </div>
              <div class="form-group">
                <%= select_tag "category", options_for_select(Dish::CATEGORY), class: 'form-control' %>
              </div>
              <div class="form-group">
                <%= submit_tag "Search", class: 'btn btn-warning' %>
              </div>
            </div>
            <% end %>
        </form>

      </div>
    </div>
