.dishshow {
  box-sizing: border-box;
}
.dishshow h3 {
  margin: 0;
}
.dish-img-area {
  padding: 0;
}
.dish-img-area img {
  width: 100%;
  margin-bottom: 10px;
}
.price {
  margin-left: 15px;
}

.form-area {
  margin-top: 20px;
  border:1px solid #ccc;
  padding: 20px 10px;
}
.form-item-title {
  font-size: 18px;
  font-weight: bold;
  padding: 10px 0;
  background: #6EEB83;
  color: #fff;
  text-align: center;
}
