<html>
  <head>
  </head>
  <body>
    <h1> <%= order.dish.name %> </h1>
    <h2> <%= order.quantity %> </h2>
    <h2> <$= order.dish.price %> </h2>
    <h2> <%= order.dish.restaurant.name %> </h2>
    <h2> <%= order.dish.restaurant.address %> </h2>
    <div> <a href="#" class="btn-treehouse">Start now</a> </div>
  </body>
</html>
