.banner {
  color: white;
  text-align: center;
  height: 400px;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 32px;
}
.banner h1 {
  font-size: 50px;
  font-weight: bold;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
}
.banner p {
  font-size: 25px;
  font-weight: lighter;
  color: rgb(255, 255, 255);
  opacity: 0.6;
  margin-bottom: 30px;
}

// .form-content input,
// .form-content select {
//   display: block;
//   width: 100%;
//   height: 39px;
//   padding: 6px 12px;
//   font-size: 18px;
//   line-height: 1.428571429;
//   color: #000000;
//   background-color: #fff;
//   background-image: none;
//   border: 1px solid #ccc;
//   border-radius: 2px;
//   box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
//   transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;

// }

// .btn {
//   display: inline-block;
//   margin-bottom: 0;
//   font-weight: normal;
//   text-align: center;
//   vertical-align: middle;
//   touch-action: manipulation;
//   cursor: pointer;
//   background-image: none;
//   border: 1px solid transparent;
//   white-space: nowrap;
//   padding: 6px 12px;
//   font-size: 18px;
//   line-height: 1.428571429;
//   border-radius: 2px;
//   -webkit-user-select: none;
//   -moz-user-select: none;
//   -ms-user-select: none;
//   user-select: none;
// }
