.footer {
  margin-top: 40px;
  background: #7a828b;
  color: #fff !important;
  padding: 20px 50px;
  text-align: center;
  display: flex;
  justify-content: space-between;
}
.footer .copyright {
  color: #fff;
}
.footer .cheese-logo img {
  margin-bottom: 10px;
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: black;
  opacity: 0.15;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
}
.footer .fa-heart {
  color: #D23333;
}

* {
  margin: 0;
}
html, body {
  height: 100%;
}
.page-wrap {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -142px;
}
.page-wrap:after {
  content: "";
  display: block;
}
.footer, .page-wrap:after {
  height: 142px;
}
