// Import your components CSS files here.
@import "alert";
@import "navbar";
@import "banner";
@import "card";
@import "footer";

.cheese-logo {
  transition: 1.0s ;
}
.cheese-logo img {
  width: 80px;
  height: 80px;
}

a.cheese-logo:hover img {
  opacity: 0.8;
}
