// Import your components CSS files here.
@import "alert";
@import "navbar";
@import "banner";
@import "card";
@import "footer";
@import "search";

.cheese-logo {
  transition: 1.0s ;
}
.cheese-logo img {
  width: 60px;
  height: 60px;
}
a {
  color: $light-green;
}
a:hover {
  color: $light-green;
  opacity: 0.8;
  text-decoration: none;
}
a.cheese-logo:hover img {
  opacity: 0.8;
}
